<h1>{{ produto.nome }}</h1>
<p>{{ produto.descricao }}</p>
<p>Preço: R$ {{ produto.preco }}</p>
<p>Estoque: {{ produto.estoque }}</p>
{% if produto.imagem %}
<img src="{{ produto.imagem.url }}" alt="Imagem do produto">
{% endif %}
{% if user.is_authenticated and user.is_staff %}
<a href="{% url 'products:editar_produto' produto.id %}">Editar Produto</a>
<a href="{% url 'products:excluir_produto' produto.id %}">Excluir Produto</a>
<a href="{% url 'products:listar_produtos' %}">Voltar</a>
{% elif user.is_authenticated and not user.is_staff %}
<a href="{% url 'orders:create_order' %}">Comprar</a>
<a href="{% url 'products:listar_produtos' %}">Voltar</a>
{% else %}
<a href="{% url 'products:listar_produtos' %}">Voltar</a>
{% endif %}