{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produto</title>
    <link rel="stylesheet" href="{% static 'orders/order_details.css' %}">
</head>
<h1>Pedido {{ order.id }}</h1>
<p class="status">Status: {{ order.status }}</p>
<div class="order-items">
    {% for item in order.items.all %}
        <p>Produto: {{ item.product.nome }}</p>
        <p>Quantidade: {{ item.quantity }}</p>
    {% endfor %}
</div>
<div class="buttons">
    <a href="">Finalizar Pedido</a>
    <a href="{% url 'orders:add_order_item' order.id %}">Adicionar Produto ao Pedido</a>
    <a href="{% url 'orders:cancel_order' order.id %}">Cancelar Pedido</a>
    <a href="{% url 'orders:order_list' %}">Voltar</a>
</div>
</html>
