{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produto</title>
    <link rel="stylesheet" href="{% static 'orders/order_list.css' %}">
</head>
<h1>Pedidos</h1>
<ul>
    {% for order in orders %}
        <li>
            <a href="{% url 'orders:order_detail' order.id %}">
                Pedido {{ order.id }} - {{ order.status }}
            </a>
        </li>
    {% endfor %}
    <div class="actions">
        {% if user.is_authenticated %}
        <a href="{% url 'orders:create_order' %}" class="button">Fazer Pedido</a>
        {% endif %}
        <a href="{% url 'home' %}" class="button">Voltar</a>
    </div>
</ul>
