<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coqueiral</title>
</head>
<body>
    <header>
        <h1>Bem-vindo(a) à Coqueiral</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'products:listar_produtos' %}">Produtos</a></li>
            <li><a href="{% url 'orders:order_list' %}">Meus Pedidos</a></li>
            <li><a href="{% url 'users:login' %}">Login</a></li>
            <li><a href="{% url 'users:register' %}">Cadastro</a></li>
        </ul>
    </nav>
    <main>
        <p>Explore nossos produtos e registre-se para aproveitar ofertas exclusivas.</p>
    </main>
    <footer>
        <p>&copy; 2024 - Coqueiral</p>
    </footer>
</body>
</html>
