{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coqueiral</title>
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
</head>
<body>
    <header>
        <h1>
            {% if user.is_authenticated and user.perfil %}
                Olá, {{ user.perfil.nome_completo }}! Bem-vindo à Coqueiral!    
            {% elif user.is_authenticated %}
                Olá, Bem-vindo à Coqueiral! Acesse a aba Perfil para alterar seus dados!
            {% else %}
                Bem vindo à Coqueiral! Inicie sessão ou cadastre-se para aproveitar ofertas exclusivas.
            {% endif %}
        </h1>
    </header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'products:listar_produtos' %}">Produtos</a></li>
            <li><a href="{% url 'orders:order_list' %}">Meus Pedidos</a></li>
            <li><a href="{% url 'users:perfil' %}">Perfil</a></li>
            <li><a href="{% url 'users:logout' %}">Sair</a></li>
            {% else %}
            <li><a href="{% url 'products:listar_produtos' %}">Produtos</a></li>
            <li><a href="{% url 'users:login' %}">Iniciar Sessão</a></li>
            <li><a href="{% url 'users:register' %}">Registrar-se</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        <p>Explore nossos produtos e registre-se para aproveitar ofertas exclusivas.</p>
    </main>
    <footer>
        <p>&copy; 2024 - Coqueiral</p>
    </footer>
</body>
</html>
